In [1]:
#download the Data set using below link

https://www.kaggle.com/datasets/subhamjain/loan-prediction-based-on-customer-behavior

#in that copy link of training data

/kaggle/input/loan-prediction-based-on-customer-behavior/Test Data.csv
/kaggle/input/loan-prediction-based-on-customer-behavior/Training Data.csv
/kaggle/input/loan-prediction-based-on-customer-behavior/Sample Prediction Dataset.csv

![](https://www.paisabazaar.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2017/11/double-whammy.jpg.webp)

**This notebook tries to predict the House Loan Defaulters with the help of various features such as Profession, Current House Years, Current Job Years, Income, etc.**

# Importing Required Libraries

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import sklearn.metrics as metrics
import os

# Reading the CSV File

In [3]:
data = pd.read_csv('loan-prediction-based-on-customer-behavior/Training Data.csv')

In [4]:
data.head() #displaying head of the .csv file

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

# Dropping the Unecessary Columns

In [5]:
data = data.drop("Id", axis = 1)
data = data.drop("CITY", axis=1)

In [6]:
data.head() #displaying head of the .csv file

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,single,rented,no,Mechanical_engineer,Madhya_Pradesh,3,13,0
1,7574516,40,10,single,rented,no,Software_Developer,Maharashtra,9,13,0
2,3991815,66,4,married,rented,no,Technical_writer,Kerala,4,10,0
3,6256451,41,2,single,rented,yes,Software_Developer,Odisha,2,12,1
4,5768871,47,11,single,rented,no,Civil_servant,Tamil_Nadu,3,14,1

# Checking for NULL Values

In [7]:
data.isnull().sum()

Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

# Describing the Data

In [8]:
data.describe()

,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
count,2.520000e+05,252000.000000,252000.000000,252000.000000,252000.000000,252000.000000
mean,4.997117e+06,49.954071,10.084437,6.333877,11.997794,0.123000
std,2.878311e+06,17.063855,6.002590,3.647053,1.399037,0.328438
min,1.031000e+04,21.000000,0.000000,0.000000,10.000000,0.000000
25%,2.503015e+06,35.000000,5.000000,3.000000,11.000000,0.000000
50%,5.000694e+06,50.000000,10.000000,6.000000,12.000000,0.000000
75%,7.477502e+06,65.000000,15.000000,9.000000,13.000000,0.000000
max,9.999938e+06,79.000000,20.000000,14.000000,14.000000,1.000000

# Encoding The Data

In [9]:
en = LabelEncoder()
catCols = ['Married/Single','House_Ownership','Car_Ownership','Profession','STATE']
for cols in catCols:
    data[cols] = en.fit_transform(data[cols])

In [10]:
data.head() #displaying head of the .csv file

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,1,2,0,33,13,3,13,0
1,7574516,40,10,1,2,0,43,14,9,13,0
2,3991815,66,4,0,2,0,47,12,4,10,0
3,6256451,41,2,1,2,1,43,17,2,12,1
4,5768871,47,11,1,2,0,11,22,3,14,1

# Splitting Dataset into Train and Test

In [11]:
y = data["Risk_Flag"]
X = data.drop("Risk_Flag",axis = 1)

In [12]:
Y=pd.DataFrame(y)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, train_size=0.8, test_size=0.2)

# Creating the XGBoost Model

In [14]:
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, accuracy_score, roc_auc_score
# Define the model

    
    # defining the model
clf = XGBClassifier(learning_rate=0.1, 
                    n_estimators=1000, 
                    use_label_encoder=False,
                    random_state=42)
    
clf.fit(X_train, y_train, eval_metric='logloss')
predictions = clf.predict(X_test) 
print("accuracy_score: " + str(accuracy_score(y_test, predictions)))

accuracy_score: 0.8971825396825397

# Calculating the ROC Score of Model

In [15]:
print("ROC AUC score: " + str(roc_auc_score(y_test, predictions)))

ROC AUC score: 0.6837972465278378